@model IEnumerable<StoreUser>
@inject Microsoft.AspNetCore.Identity.UserManager<StoreUser> UserManager
@foreach (var p in Model)
{
    var user = await UserManager.FindByIdAsync(p.Id);
    var roles = await UserManager.GetRolesAsync(user);
    <tr>
        <td data-field="email">@p.Email</td>
        <td data-field="role">@string.Join(",", roles)</td>
        <td class="editable" contenteditable="false" data-field="firstName">@p.FirstName</td>
        <td class="editable" contenteditable="false" data-field="lastName">@p.LastName</td>
        <td class="editable" contenteditable="false" data-field="phoneNumber">@p.PhoneNumber</td>
        <td class="editable" contenteditable="false" data-field="address">@p.Address</td>
        <td class="hidden" data-field="id">@p.Id</td>
        <td>
            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed edit-btn">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" title="Save" class="pd-setting-ed save-btn" style="display:none;">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed trash-btn">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
}
