<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
@inject Microsoft.AspNetCore.Identity.UserManager<StoreUser> UserManager
@{
    Layout = "_LayoutAdmin";
}

@model IEnumerable<StoreUser>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Quản lý tài khoản</h2>
                                    <p>Cửa hàng vàng bạc<span class="bread-ntd">Tuấn Thành</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-supplier">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm tài khoản</button>
                    </div>
                    <div class="table-responsive">
                        <!--nanui-->
                        <div class="btn-group">
                            <ul id="export-buttons"></ul>
                        </div>
                        <!--btuun excel pdf-->
                        <table id="AccountTable" class="table">
                            <thead>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>Địa chỉ email</th>
                                    <th>Quyền</th>
                                    <th>Họ</th>
                                    <th>Tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th></th>
                                </tr>
                            
                            </thead>
                                <tbody>

                            @foreach (var p in Model)
                            {
                                var user = await UserManager.FindByIdAsync(p.Id);
                                var roles = await UserManager.GetRolesAsync(user);
                                    <tr>
                                        <td class="hidden" data-field="id">@p.Id</td>
                                        <td data-field="email">@p.Email</td>
                                        <td data-field="role">@string.Join(",", roles)</td>
                                        <td class="editable" contenteditable="false" data-field="firstName">@p.FirstName</td>
                                        <td class="editable" contenteditable="false" data-field="lastName">@p.LastName</td>
                                        <td class="editable" contenteditable="false" data-field="phoneNumber">@p.PhoneNumber</td>
                                        <td class="editable" contenteditable="false" data-field="address">@p.Address</td>
                                        <td>
                                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed edit-btn">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button data-toggle="tooltip" title="Save" class="pd-setting-ed save-btn" style="display:none;">
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            </button>
                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed trash-btn">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                            }
                                </tbody>
                        </table>
                    </div>
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm nhà cung cấp</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <form class="product-tab-list tab-pane active in" id="myForm" method="post">
                                <div class="modal-body">
                                    
                                        <div id="nameValidationMessage" class="text-warning"></div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-user account" aria-hidden="true"></i></span>
                                                        <input name="FirstName" type="text" class="form-control" placeholder="Họ">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-edit account" aria-hidden="true"></i></span>
                                                        <input name="Email" type="text" class="form-control" placeholder="Địa chỉ Email">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-new-file account" aria-hidden="true"></i></span>
                                                        <input name="PhoneNumber" type="text" class="form-control" placeholder="Số điện thoại">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-favorites account" aria-hidden="true"></i></span>
                                                        <input name="Address" type="text" class="form-control" placeholder="Địa chỉ">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-user account" aria-hidden="true"></i></span>
                                                        <input name="LastName" type="text" class="form-control" placeholder="Tên">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-edit account" aria-hidden="true"></i></span>
                                                        <input name="Password" type="text" class="form-control" placeholder="Mật khẩu">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-new-file account" aria-hidden="true"></i></span>
                                                        <input name="ConfirmPassword" type="text" class="form-control" placeholder="Xác nhận mật khẩu">
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input name="IsEmployee" type="checkbox">
                                                            <span style="font-size: 16px; color: #000;">Employee</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-success" id="save">Lưu</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function validateUserForm(firstName, lastName, phoneNumber, address, email, password, confirmPassword) {
            var errorMessage = "";

            // Kiểm tra các trường thông tin có hợp lệ không
            if (!firstName) {
                errorMessage = "First name is required.";
            } else if (!lastName) {
                errorMessage = "Last name is required.";
            } else if (!email) {
                errorMessage = "Email address is required.";
            } else if (!password) {
                errorMessage = "Password is required.";
            } else if (!confirmPassword) {
                errorMessage = "Confirm password is required.";
            } else if (password !== confirmPassword) {
                errorMessage = "Passwords do not match.";
            } else if (!phoneNumber) {
                errorMessage = "Phone number is required.";
            } else if (!isValidPhoneNumber(phoneNumber)) {
                errorMessage = "Invalid phone number. Please enter a 10-digit number.";
            } else if (!address) {
                errorMessage = "Address is required.";
            }

            return errorMessage;
        }

        function isValidPhoneNumber(phoneNumber) {
            // Biểu thức chính quy để kiểm tra định dạng số điện thoại (10 chữ số)
            var phoneRegex = /^\d{10}$/;
            return phoneRegex.test(phoneNumber);
        }

        $('.edit-btn').click(function () {
            var $row = $(this).closest('tr');
            $row.find('.editable').prop('contenteditable', true).addClass('editing');
            $row.find('.edit-btn').hide();
            $row.find('.save-btn').show();
        });
        $('.edit-btn').click(function () {
            var $row = $(this).closest('tr');
            $row.find('.editable').prop('contenteditable', true).addClass('editing');
            $row.find('.edit-btn').hide();
            $row.find('.save-btn').show();
        });

        $('.save-btn').click(function () {
            var $row = $(this).closest('tr');
            var userId = $row.find('.hidden[data-field="id"]').text();
            var email = $row.find('td[data-field="email"]').text();
            var firstName = $row.find('.editable[data-field="firstName"]').text();
            var lastName = $row.find('.editable[data-field="lastName"]').text();
            var phoneNumber = $row.find('.editable[data-field="phoneNumber"]').text();
            var address = $row.find('.editable[data-field="address"]').text();
            var errorMessage = "";
          
            if (!firstName) {
                errorMessage = "First name is required.";
            } else if (!lastName) {
                errorMessage = "Last name is required.";
            } else if (!phoneNumber) {
                errorMessage = "Phone number is required.";
            } else if (!/^\d{10}$/.test(phoneNumber)) {
                errorMessage = "Invalid phone number. Please enter a 10-digit number.";
            } else if (!address) {
                errorMessage = "Address is required.";
            } 
            if (errorMessage) {
                alert(errorMessage);
                return; // Dừng quá trình lưu nếu có trường nào đó không hợp lệ
            }
            $.ajax({
                url: '/AdminPage/SaveUser',
                type: 'POST',
                dataType: 'json',
                data: {
                    userId: userId,
                    email: email,
                    firstName: firstName,
                    lastName: lastName,
                    phoneNumber: phoneNumber,
                    address: address
                },
                success: function (response) {
                    console.log('Data saved successfully!');
                    $row.find('.editable').prop('contenteditable', false).removeClass('editing');
                    $row.find('.edit-btn').show();
                    $row.find('.save-btn').hide();
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });
        $('.trash-btn').click(function () {
            var $row = $(this).closest('tr');
            var userId = $row.find('.hidden[data-field="id"]').text();

            $.ajax({
                url: '/AdminPage/DeleteUser',
                type: 'POST',
                dataType: 'json',
                data: { userId: userId },
                success: function (response) {
                    if (response.success) {
                        $row.remove(); // Xóa hàng khỏi bảng nếu xóa thành công
                    } else {
                        alert('Failed to delete user.'); // Hiển thị thông báo nếu xóa không thành công
                    }
                },
                error: function (error) {
                    console.error('Error deleting user:', error);
                }
            });
        });
        $('#save').click(function () {
            // Lấy dữ liệu từ các trường nhập trong modal
            var email = $('input[name="Email"]').val();
            var firstName = $('input[name="FirstName"]').val();
            var lastName = $('input[name="LastName"]').val();
            var password = $('input[name="Password"]').val();
            var confirmPassword = $('input[name="ConfirmPassword"]').val();
            var phoneNumber = $('input[name="PhoneNumber"]').val();
            var address = $('input[name="Address"]').val();
            var isEmployee = $('input[name="IsEmployee"]').is(':checked');

            // Kiểm tra các trường có hợp lệ không
            var errorMessage = validateUserForm(firstName, lastName, phoneNumber, address, email, password, confirmPassword);
            if (errorMessage) {
                alert(errorMessage);
                return; // Dừng quá trình lưu nếu có trường nào đó không hợp lệ
            }

            // Gửi dữ liệu lên controller thông qua Ajax
            $.ajax({
                url: '/AdminPage/AddUserModal',
                type: 'POST',
                dataType: 'json',
                data: {
                    email: email,
                    firstName: firstName,
                    lastName: lastName,
                    password: password,
                    phoneNumber: phoneNumber,
                    address: address,
                    isEmployee: isEmployee
                },
                success: function (response) {
                    console.log('User added successfully!');
                    // Đóng modal
                    $('#myModal').modal('hide');
                    // Thêm dòng mới vào bảng với thông tin tài khoản mới
                    var newRow = `<tr>
                        <td class="hidden">${response.id}</td>
                        <td data-field="email">${response.email}</td>
                        <td data-field="role">${response.role}</td>
                        <td class="editable" contenteditable="false" data-field="firstName">${response.firstName}</td>
                        <td class="editable" contenteditable="false" data-field="lastName">${response.lastName}</td>
                        <td class="editable" contenteditable="false" data-field="phoneNumber">${response.phoneNumber}</td>
                        <td class="editable" contenteditable="false" data-field="address">${response.address}</td>
                        <td>
                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed edit-btn">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                            <button data-toggle="tooltip" title="Save" class="pd-setting-ed save-btn" style="display:none;">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            </button>
                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed trash-btn">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>`;
                    $('#AccountTable tbody').append(newRow);
                },
                error: function (error) {
                    console.error('Error adding user:', error);
                }
            });
        });
    });
    
    
</script>