@{
    Layout = "_LayoutAdmin";
}

@model IEnumerable<AddInventoryReceiptViewModel>
<style>
    .add-supplier {
        display: inline;
    }

    .btn.dropdown-toggle.btn-default {
        margin-top: 10px;
    }

    .ml-12{
        margin-left: 12px;
    }
</style>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Thêm phiếu nhập kho</h2>
                                    <p>Cửa hàng vàng bạc<span class="bread-ntd">Tuấn Thành</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                

                <div class="product-status-wrap">
                    <h4>Thêm phiếu nhập</h4>
                    <div class="row">
                        <div class="add-supplier">
                            <button type="button" class="btn btn-primary ml-12" data-toggle="modal" data-target="#myModal">Thêm Sản Phẩm</button>
                        </div>
                        <div class="add-supplier">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSize">Thêm Size</button>
                        </div>
                        <div class="add-supplier">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMaterial">Thêm Chất Liệu</button>
                        </div>
                        <div class="add-supplier">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPurity">Thêm Độ Tinh Khiết</button>
                        </div>
                    </div>
                    <div>
                        @Html.DropDownList("SupplierId", (IEnumerable<SelectListItem>)ViewBag.suppliers, new { @class = "form-controller selectpicker", data_live_search = "true", title = "Chọn nhà cung cấp" })
                    </div>
                    <div>
                        <table id="inventoryReceipt" class="table" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Sản Phẩm</th>
                                    <th>Size</th>
                                    <th>Chất liệu</th>
                                    <th>Độ tinh khiết</th>
                                    <th>Trọng lượng(gram)</th>
                                    <th>Số lượng</th>
                                    <th>Giá nhập</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="productRows">
                                @foreach (var productItem in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.products, new { @class = "form-controller selectpicker", data_live_search = "true", title = "Chọn sản phẩm" })
                                        </td>
                                        <td>
                                            @Html.DropDownList("SizeId", (IEnumerable<SelectListItem>)ViewBag.sizes, new { @class = "form-control selectpicker size-dropdown", data_live_search = "true", title = "Chọn Size" })
                                        </td>
                                        <td>
                                            @Html.DropDownList("MaterialId", (IEnumerable<SelectListItem>)ViewBag.materials, new { @class = "form-control selectpicker material-dropdown", data_live_search = "true", title = "Chọn Material" })
                                        </td>
                                        <td>
                                            @Html.DropDownList("PurityId", (IEnumerable<SelectListItem>)ViewBag.purity, new { @class = "form-control selectpicker purity-dropdown", data_live_search = "true", title = "Chọn độ tinh khiết" })
                                        </td>
                                        <td>
                                            <input type="text" name="Weight" class="form-control"/>
                                        </td>
                                        <td>
                                            <input type="text" name="Quantity" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="text" name="PurchasePrice" class="form-control" />
                                        </td>
                                        <td>
                                            <input type="button" value="Xóa" onclick="Remove(this)" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.products, new { @class = "form-controller selectpicker product-dropdown", data_live_search = "true", title = "Chọn sản phẩm" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("SizeId", (IEnumerable<SelectListItem>)ViewBag.sizes, new { @class = "form-control selectpicker size-dropdown", data_live_search = "true", title = "Chọn Size" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("MaterialId", (IEnumerable<SelectListItem>)ViewBag.materials, new { @class = "form-control selectpicker material-dropdown", data_live_search = "true", title = "Chọn chất liệu" })
                                    </td>
                                    <td>
                                        @Html.DropDownList("PurityId", (IEnumerable<SelectListItem>)ViewBag.purity, new { @class = "form-control selectpicker material-dropdown", data_live_search = "true", title = "Chọn độ tinh khiết" })
                                    </td>
                                    <td>
                                        <input type="text" name="Weight" id="WeightId" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" name="Quantity" id="QuantityId" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="text" name="PurchasePrice" id="PurchasePriceId" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="button" id="btnAdd" value="Thêm" />
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="add-product">
                        <button type="submit" id="btnSave" class="btn btn-ctl-bt waves-effect waves-light m-r-10">
                            Lưu
                        </button>
                    </div>
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm Sản Phẩm</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <form class="product-tab-list tab-pane active in" id="myForm" method="post">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon position"><i class="icon nalika-edit account" aria-hidden="true"></i></span>
                                                    <div asp-for="Category"> 
                                                        @Html.DropDownList("categoryId", (IEnumerable<SelectListItem>)ViewBag.categories, new { @class = "form-controller selectpicker category-dropdown", data_live_search = "true", title = "Chọn danh mục" })
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon position"><i class="icon nalika-user account" aria-hidden="true"></i></span>
                                                    <input name="name" type="text" class="form-control" placeholder="Tên sản phẩm">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon position"><i class="icon nalika-edit account" aria-hidden="true"></i></span>
                                                    <input name="description" type="text" class="form-control" placeholder="Mô tả">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon position"><i class="icon nalika-edit account" aria-hidden="true"></i></span>
                                                    <input name="warrantyInformation" type="text" class="form-control" placeholder="Thông tin bảo hành">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon position"><i class="icon nalika-edit account" aria-hidden="true"></i></span>
                                                    <input name="img" type="file" class="form-control" multiple>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal" id="saveProduct">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="addMaterial">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm Chất Liệu</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <form class="product-tab-list tab-pane active in" id="myForm" method="post">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon position"><i class="icon nalika-user account" aria-hidden="true"></i></span>
                                                <input name="materialName" type="text" class="form-control" placeholder="Tên chất liệu">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal" id="saveMaterial">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="addSize">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm Size</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <form class="product-tab-list tab-pane active in" method="post">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon position"><i class="icon nalika-user account" aria-hidden="true"></i></span>
                                                <input name="sizeName" type="text" class="form-control" placeholder="Tên Size">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal" id="saveSize">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="addPurity">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm Độ Tinh Khiết</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <form class="product-tab-list tab-pane active in" method="post">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="input-group mg-b-pro-edt">
                                                <span class="input-group-addon position"><i class="icon nalika-user account" aria-hidden="true"></i></span>
                                                <input name="purityName" type="text" class="form-control" placeholder="Tên độ tinh khiết">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal" id="savePurity">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script> *@

<script type="text/javascript">
    function Remove(button) {
        var row = $(button).closest("tr");
        var name = $("td", row).eq(0).text();
        if (confirm("Bạn có muốn xóa: " + name)) {
            var table = $("#inventoryReceipt")[0];
            table.deleteRow(row[0].rowIndex);
        }
    }

    $(document).ready(function () {
        $("body").on("click", "#btnSave", function () {
            var inventoryReceipts = new Array();
            $("#inventoryReceipt TBODY TR").each(function () {
                var row = $(this);
                var inventoryReceipt = {};
                inventoryReceipt.SupplierId = $("#SupplierId").val();
                inventoryReceipt.ProductId = row.find("TD").eq(0).find("input").val();
                inventoryReceipt.SizeId = row.find("TD").eq(1).find("input").val();
                inventoryReceipt.MaterialId = row.find("TD").eq(2).find("input").val();
                inventoryReceipt.PurityId = row.find("TD").eq(3).find("input").val();
                var weightString = row.find("TD").eq(4).text().replace(",", "."); // Chuỗi từ dữ liệu gửi đến
                inventoryReceipt.Weight = parseFloat(weightString);
                inventoryReceipt.Quantity = row.find("TD").eq(5).text(); 
                inventoryReceipt.PurchasePrice = row.find("TD").eq(6).text();
                inventoryReceipts.push(inventoryReceipt);   
                
            });
            console.log(inventoryReceipts);

            $.ajax({
                async: true,
                type: "POST",
                url: "/AdminPage/AddInventoryReceipt",
                data: JSON.stringify(inventoryReceipts),
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (response) {
                    window.location.href = response.redirectUrl;
                },
                error: function () {
                    alert("Hãy thêm đầy đủ thông tin");
                }
            });
        });

        $(document).on('click', '#btnAdd', function () {
            var supplierId = $('#SupplierId')
            var productName = $("#ProductId option:selected").text();
            var sizeName = $("#SizeId option:selected").text();
            var materialName = $("#MaterialId option:selected").text();
            var purityName = $("#PurityId option:selected").text();
            var productNames = $("#ProductId option:selected").val();
            var sizeNames = $("#SizeId option:selected").val();
            var materialNames = $("#MaterialId option:selected").val();
            var purityNames = $('#PurityId option:selected').val();
            var weight = $('#WeightId').val();
            var quantity = $("#QuantityId").val();
            var purchasePrice = $("#PurchasePriceId").val();
            var errorMessage = "";

            if (!productNames) {
                errorMessage = "Bạn chưa nhập tên sản phẩm.";
            } else if (!sizeNames) {
                errorMessage = "Bạn chưa nhập size.";
            } else if (!materialNames) {
                errorMessage = "Bạn chưa nhập chất liệu.";
            } else if (!purityNames) {
                errorMessage = "Bạn chưa nhập độ tinh khiết.";
            } else if (!weight) {
                errorMessage = "Bạn chưa nhâp trọng lượng.";
            } else if (!quantity) {
                errorMessage = "Bạn chưa nhâp số lượng.";
            } else if (!purchasePrice) {
                errorMessage = "Bạn chưa nhập giá nhập.";
            } else if (weight < 0) {
                errorMessage = "Trọng phải lớn hơn 0.";
            } else if (!supplierId) {
                errorMessage = "Bạn chưa nhập nhà cung cấp.";
            } else if (quantity < 0) {
                errorMessage = "Số lượng phải lớn hơn 0.";
            } else if (purchasePrice<0) {
                errorMessage = "Giá nhập phải lớn hơn 0.";
            }
            
            if (errorMessage) {
                alert(errorMessage);
                return;
            }

            var tBody = $("#inventoryReceipt > TBODY")[0];
            var row = tBody.insertRow(-1);

            var cell = $(row.insertCell(-1));
            cell.html(productName + '<input type="hidden" value="' + productNames + '" />');

            cell = $(row.insertCell(-1));
            cell.html(sizeName + '<input type="hidden" value="' + sizeNames + '" />');

            cell = $(row.insertCell(-1));
            cell.html(materialName + '<input type="hidden" value="' + materialNames + '" />');

            cell = $(row.insertCell(-1));
            cell.html(purityName + '<input type="hidden" value="' + purityNames + '" />');

            cell= $(row.insertCell(-1));
            cell.html(weight);

            cell = $(row.insertCell(-1));
            cell.html(quantity);

            cell = $(row.insertCell(-1));
            cell.html(purchasePrice);

            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);
            reset_btnadd();

        });

        function reset_btnadd() {
            $("#ProductId").val('').change();

            $("#SizeId").val('').change();
            $("#MaterialId").val('').change();
            $("#PurityId").val('').change();
            $("#QuantityId").val('');
            $("#WeightId").val('');
            $("#PurchasePriceId").val('');
            $('.selectpicker').selectpicker('refresh');

        }

        $("#saveProduct").click(function (event) {
            event.preventDefault();

            var formData = new FormData();
            formData.append('categoryId', $('select[name="categoryId"]').val());
            formData.append('name', $('input[name="name"]').val());
            formData.append('description', $('input[name="description"]').val());
            formData.append('warrantyInformation', $('input[name="warrantyInformation"]').val());
            formData.append('img', $('input[name="img"]')[0].files[0]);

            $.ajax({
                url: '/AdminPage/AddProductModal',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#myModal").modal('hide');
                    var newRow = `<option value=${response.productId}>${response.name}</option>`;
                    $("#ProductId").append(newRow);
                    $('#ProductId').selectpicker('refresh');
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });

        $("#saveMaterial").click(function (event) {
            event.preventDefault();

            var formData = new FormData();
            formData.append('name', $('input[name="materialName"]').val());
            $.ajax({
                url: '/AdminPage/AddMaterial',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#addMaterial").modal('hide');
                    var newRow = `<option value=${response.materialId}>${response.materialName}</option>`;
                    $("#MaterialId").append(newRow);
                    $('#MaterialId').selectpicker('refresh');
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });

        $("#savePurity").click(function (event) {
            event.preventDefault();

            var formData = new FormData();
            formData.append('name', $('input[name="purityName"]').val());
            $.ajax({
                url: '/AdminPage/AddPurity',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#addPurity").modal('hide');
                    var newRow = `<option value=${response.purityId}>${response.purityName}</option>`;
                    $("#PurityId").append(newRow);
                    $('#PurityId').selectpicker('refresh');
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });

        $("#saveSize").click(function (event) {
            event.preventDefault();

            var formData = new FormData();
            formData.append('name', $('input[name="sizeName"]').val());
            $.ajax({
                url: '/AdminPage/AddSize',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#addSize").modal('hide');
                    var newRow = `<option value=${response.sizeId}>${response.sizeName}</option>`;
                    $("#SizeId").append(newRow);
                    $('#SizeId').selectpicker('refresh');
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });
      
        $("#btnSave").click(function (event) {
            event.preventDefault();

            var supplierId = $('select[name="SupplierId"]').val();
            //var productId = $('select[name="ProductId"]').val();
            // var sizeId = $('select[name="SizeId"]').val();
            // var materialId = $('select[name="MaterialId"]').val();
            // var purityId = $('select[name="PurityId"]').val();
            // var quantity = $('input[name="Quantity"]').val();
            // var purchasePrice = $('input[name="PurchasePrice"]').val();
            if (!supplierId) {
                alert('Bạn chưa thêm nhà cung cấp');
                return;
            }

            $(this).closest('form').submit();
        });
       

        @* $(document).on('click', '#btnAdd', function () {
            var productName = $("#ProductId option:selected").text();
            var sizeName = $("#SizeId option:selected").text();
            var materialName = $("#MaterialId option:selected").text();
            var productNames = $("#ProductId option:selected").val();
            var sizeNames = $("#SizeId option:selected").val();
            var materialNames = $("#MaterialId option:selected").val();
            var quantity = $("#QuantityId").val();
            var purchasePrice = $("#PurchasePriceId").val();

            var tBody = $("#inventoryReceipt > TBODY")[0];
            var row = tBody.insertRow(-1);

            var cell = $(row.insertCell(-1));
            cell.html(productName + '<input type="hidden" value="' + productNames + '" />');

            cell = $(row.insertCell(-1));
            cell.html(sizeName + '<input type="hidden" value="' + sizeNames + '" />');

            cell = $(row.insertCell(-1));
            cell.html(materialName + '<input type="hidden" value="' + materialNames + '" />');

            cell = $(row.insertCell(-1));
            cell.html(quantity);

            cell = $(row.insertCell(-1));
            cell.html(purchasePrice);

            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);
            reset_btnadd();

        });
        function reset_btnadd() {
                     $('.selectpicker').selectpicker(); 

            $("#ProductId").val('').change();
            $("#SizeId").val('');
            $("#MaterialId").val('');
            $("#MaterialId").val('');
            $("#QuantityId").val('');
            $("#PurchasePriceId").val('');

        } *@
        // $('.selectpicker').selectpicker(); 
    });
</script>
