@{
    Layout = "_LayoutAdmin";
}
@model IEnumerable<InventoryReceipt>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Quản lý phiếu nhập</h2>
                                    <p>Welcome cửa hàng vàng bạc <span class="bread-ntd">Tuấn Thành</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Danh sách phiếu nhập</h4>
                    <div class="add-supplier">
                        <a title="Thêm phiếu nhập" class="btn btn-primary" asp-controller="AdminPage" asp-action="AddInventoryReceipt">Thêm phiếu nhập</a>
                    </div>
                    <div class="table-responsive">
                        <!--nanui-->
                        <div class="btn-group">
                            <ul id="export-buttons"></ul>
                        </div>
                        <!--btuun excel pdf-->
                        <table id="InventoryTable" class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nhà cung cấp</th>
                                    <th>Người tạo</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày xác nhận</th>
                                    <th>Ghi chú</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var inventory in Model)
                                {
                                    <tr data-inventory-id="@inventory.Id" asp-validation-summary="ModelOnly">
                                        <td data-field="id">@inventory.Id</td>
                                        <td>@(inventory.Supplier.Name)</td>
                                        <td>@(inventory.User?.FirstName ?? "") @(inventory.User?.LastName ?? "")</td>
                                        <td>@(inventory.CreationDate)</td>
                                        <td>@(inventory.ConfirmationDate)</td>
                                        <td class="editable" contenteditable="false" data-field="note">@(inventory.Note ?? "")</td>
                                        <td>
                                            <button title="Chỉnh sửa" class="pd-setting-ed edit-btn">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button title="Lưu" class="pd-setting-ed save-btn" style="display:none;">
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            </button>
                                            @if (User.IsInRole("admin"))
                                            {
                                                @if (!inventory.Confirmation)
                                                {
                                                    <button title="Xác nhận" class="pd-setting-ed check-btn">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </button>
                                                }
                                            }
                                            
                                            <button title="Xem chi tiết" class="pd-setting-ed detail-btn">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
         $(document).on('click', '.edit-btn', function () {
            var $row = $(this).closest('tr');
            $row.find('.editable').prop('contenteditable', true).addClass('editing');
            $row.find('.edit-btn').hide();
            $row.find('.save-btn').show();
        });

        $(document).on('click', '.save-btn', function () {
            var $row = $(this).closest('tr');
            var inventoryId = $row.find('[data-field="id"]').text();
            var note = $row.find('.editable[data-field="note"]').text();
            
            
            $.ajax({
                url: '/AdminPage/SaveInventoryReceipt',
                type: 'POST',
                dataType: 'json',
                data: { inventoryId: inventoryId, note: note },
                success: function (response) {
                    console.log('Data saved successfully!');
                    $row.find('.editable').prop('contenteditable', false).removeClass('editing');
                    $row.find('.edit-btn').show();
                    $row.find('.save-btn').hide();
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });

        $(document).on('click', '.check-btn', function () {
            var $row = $(this).closest('tr');
            var inventoryId = $row.find('[data-field="id"]').text();

            $.ajax({
                url: '/AdminPage/ConfirmationInventory',
                type: 'POST',
                dataType: 'json',
                data: { inventoryId: inventoryId },
                success: function (response) {
                    if (response.success) {
                        var $confirmationDateCell = $row.find('td:nth-child(5)');
                        $confirmationDateCell.text(response.confirmationDate);

                        $row.find('.check-btn').hide();

                        console.log('Data updated successfully!');
                    } else {
                        alert('Failed to confirmation inventory.');
                    }
                },
                error: function (error) {
                    console.error('Error confirmation inventory:', error);
                }
            });
        });

        $(document).on('click', '.detail-btn', function () {
            var inventoryId = $(this).closest('tr').data('inventory-id');
            window.location.href = '/AdminPage/InventoryDetailManagement?id=' + inventoryId;
        });
    });
</script>
