@{
    Layout = "_LayoutAdmin";
}
<style>
    select#productSelect {
        padding: 10px 0px;
    }

    select#yearSelect {
        padding: 10px 0px;
    }

    select#monthSelect {
        padding: 10px 0px;
    }

    select#daySelect {
        padding: 10px 0px;
    }

    button#getReportButton {
        padding: 8px 18px;
    }
</style>
@model InventoryReportViewModel
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Báo cáo nhập hàng</h2>
                                    <p>Cửa hàng vàng bạc <span class="bread-ntd">Tuấn Thành</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <!--<h4>Danh sách phiếu nhập</h4>-->
                    <div class="add-supplier">
                        <select id="yearSelect">
                            <option value="">Chọn năm</option>
                            @for (int i = DateTime.Now.Year; i >= 2000; i--)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <select id="monthSelect">
                            <option value="">Chọn tháng</option>
                            @for (int i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <select id="daySelect">
                            <option value="">Chọn ngày</option>
                            @for (int i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <button id="getReportButton" type="button">Báo cáo</button>
                    </div>
                    <div class="table-responsive">
                        <!--nanui-->
                        <div class="btn-group">
                            <ul id="export-buttons"></ul>
                        </div>
                        <!--btuun excel pdf-->
                        <table id="InventoryTable" class="table">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Chất liệu</th>
                                    <th>Size</th>
                                    <th>Độ tinh khiết</th>
                                    <th>Trọng lượng</th>
                                    <th>Giá nhập</th>
                                    <th>Số lượng</th>
                                    <th>Ngày nhập</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function updateNumberOfDays() {
            $('#daySelect').html('<option value="">Chọn ngày</option>');
            var month = $('#monthSelect').val();
            var year = $('#yearSelect').val();
            var days = new Date(year, month, 0).getDate();

            for (var i = 1; i <= days; i++) {
                $('#daySelect').append($('<option />').val(i).html(i));
            }
        }

        $('#yearSelect, #monthSelect').change(function () {
            updateNumberOfDays();
        });
        var table = $('#InventoryTable').DataTable(); 

        $("#getReportButton").click(function () {
            var year = $("#yearSelect").val();
            var month = $("#monthSelect").val();
            var day = $("#daySelect").val();
            var url = "/AdminPage/GetInventoryReportYear";
            var data = { year: year };

            if (month) {
                url = "/AdminPage/GetInventoryReportMonth";
                data.month = month;
            }

            if (day) {
                url = "/AdminPage/GetInventoryReportDay";
                data.day = day;
            }
            $.get(url, data, function (data) {
                table.clear();


                $.each(data, function (index, item) {

                    var price = item.productItem.purchasePrice
                        .filter(function (pp) {
                            var effectiveDate = new Date(pp.effectiveDate);
                            var creationDate = new Date(item.inventoryReceipt.creationDate);
                            return effectiveDate.getFullYear() == creationDate.getFullYear() &&
                                effectiveDate.getMonth() == creationDate.getMonth() &&
                                effectiveDate.getDate() == creationDate.getDate() &&
                                effectiveDate.getHours() == creationDate.getHours() &&
                                effectiveDate.getMinutes() == creationDate.getMinutes();
                        })[0];
                    var formattedPrice = price ? price.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) : 'N/A';
                    var total = price ? (price.price * item.quantity).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) : 'N/A';
                    var confirmDate = new Date(item.inventoryReceipt.confirmationDate);
                    var formattedDate = confirmDate.toLocaleDateString('vi-VN');
                   
                    table.row.add([
                        item.productItem.product.name,
                        item.productItem.materials.name,
                        item.productItem.sizes.name,
                        item.productItem.purity.name,
                        item.productItem.weight,
                        formattedPrice,
                        item.quantity,
                        formattedDate,
                        total
                    ]);
                });

                table.draw(); 
            });
        });
    });
</script>