@{
    Layout = "_LayoutAdmin";
}
@model IEnumerable<Supplier>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Quản lý nhà cung cấp</h2>
                                    <p>Welcome to Jewelry <span class="bread-ntd">Supplier Management</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Suppliers List</h4>
                    <div class="add-supplier">
                        <a title="Add Suppliers" asp-controller="AdminPage" asp-action="AddSupplier">Add Supplier</a>
                    </div>
                    <div class="table-responsive">
                        <!--nanui-->
                         <div class="btn-group">
                             <ul id="export-buttons"></ul>
                         </div>
                        <!--btuun excel pdf-->
                        <table id="SupplierTable" class="table">
                            <thead>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>Tên</th>
                                    <th>Địa chỉ Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th> 
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var supplier in Model)
                                {
                                    <tr asp-validation-summary="ModelOnly">
                                        <td class="hidden" data-field="id">@supplier.Id</td>
                                        <td class="editable" contenteditable="false" data-field="name">@supplier.Name</td>
                                        <td data-field="email">@supplier.Email</td>
                                        <td class="editable" contenteditable="false" data-field="phoneNumber">@supplier.PhoneNumber</td>
                                        <td class="editable" contenteditable="false" data-field="address">@supplier.Address</td>    
                                        <td>
                                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed edit-btn">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button data-toggle="tooltip" title="Save" class="pd-setting-ed save-btn" style="display:none;">
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            </button>
                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed trash-btn">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.edit-btn').click(function () {
            var $row = $(this).closest('tr');
            $row.find('.editable').prop('contenteditable', true).addClass('editing');
            $row.find('.edit-btn').hide();
            $row.find('.save-btn').show();
        });

        $('.save-btn').click(function () {
            var $row = $(this).closest('tr');
            var supplierId = $row.find('.hidden[data-field="id"]').text();
            var name = $row.find('.editable[data-field="name"]').text();
            var email = $row.find('td[data-field="email"]').text();
            var phoneNumber = $row.find('.editable[data-field="phoneNumber"]').text();
            var address = $row.find('.editable[data-field="address"]').text();
            var errorMessage = "";

            // Kiểm tra các trường thông tin có hợp lệ không
            if (!name) {
                errorMessage = "Name is required.";
            } else if (!email) {
                errorMessage = "Email address is required.";
            } else if (!phoneNumber) {
                errorMessage = "Phone number is required.";
            } else if (!/^\d{10}$/.test(phoneNumber)) {
                errorMessage = "Invalid phone number. Please enter a 10-digit number.";
            } else if (!address) {
                errorMessage = "Address is required.";
            }
            if (errorMessage) {
                alert(errorMessage);
                return; // Dừng quá trình lưu nếu có trường nào đó không hợp lệ
            }
            $.ajax({
                url: '/AdminPage/SaveSupplier',
                type: 'POST',
                dataType: 'json',
                data: {
                    supplierId: supplierId,
                    name: name,
                    email: email,
                    phoneNumber: phoneNumber,
                    address: address
                },
                success: function (response) {
                    console.log('Data saved successfully!');
                    $row.find('.editable').prop('contenteditable', false).removeClass('editing');
                    $row.find('.edit-btn').show();
                    $row.find('.save-btn').hide();
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });

        $('.trash-btn').click(function () {
            var $row = $(this).closest('tr');
            var supplierId = $row.find('.hidden[data-field="id"]').text();

            $.ajax({
                url: '/AdminPage/DeleteSupplier',
                type: 'POST',
                dataType: 'json',
                data: { supplierId: supplierId },
                success: function (response) {
                    if (response.success) {
                        $row.remove(); // Xóa hàng khỏi bảng nếu xóa thành công
                    } else {
                        alert('Failed to delete supplier.'); // Hiển thị thông báo nếu xóa không thành công
                    }
                },
                error: function (error) {
                    console.error('Error deleting supplier:', error);
                }
            });
        });
        // $(document).ready(function () {
        //     $('#searchButton').click(function () {
        //         var searchText = $('#searchInput').val();
        //         $.ajax({
        //             url: '/AdminPage/SearchSupplier',
        //             type: 'GET',
        //             data: { searchText: searchText },
        //             success: function (response) {
        //                 Cập nhật nội dung của bảng với kết quả tìm kiếm
        //                 $('.product-status-wrap table tbody').html(response);
        //             },
        //             error: function (error) {
        //                 console.error('Error searching supplier:', error);
        //             }
        //         });
        //     });
        // });
    });
</script>
