@{
    Layout = "_LayoutAdmin";
}
@model IEnumerable<Supplier>
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Quản lý nhà cung cấp</h2>
                                    <p>Cửa hàng vàng bạc <span class="bread-ntd">Tuấn Thành</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <!--<h4>Danh sách nhà cung cấp</h4>-->
                    <div class="add-supplier">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm nhà cung cấp</button>
                    </div>
                    <div class="table-responsive">
                        <!--nanui-->
                         <div class="btn-group">
                             <ul id="export-buttons"></ul>
                         </div>
                        <!--btuun excel pdf-->
                        <table id="SupplierTable" class="table">
                            <thead>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>Tên</th>
                                    <th>Địa chỉ Email</th>
                                    <th>Số điện thoại</th>
                                    <th>Địa chỉ</th> 
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var supplier in Model)
                                {
                                    <tr asp-validation-summary="ModelOnly">
                                        <td class="hidden" data-field="id">@supplier.Id</td>
                                        <td class="editable" contenteditable="false" data-field="name">@supplier.Name</td>
                                        <td data-field="email">@supplier.Email</td>
                                        <td class="editable" contenteditable="false" data-field="phoneNumber">@supplier.PhoneNumber</td>
                                        <td class="editable" contenteditable="false" data-field="address">@supplier.Address</td>    
                                        <td>
                                            <button data-toggle="tooltip" title="Edit" class="pd-setting-ed edit-btn">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </button>
                                            <button data-toggle="tooltip" title="Save" class="pd-setting-ed save-btn" style="display:none;">
                                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                            </button>
                                            <button data-toggle="tooltip" title="Trash" class="pd-setting-ed trash-btn">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Thêm nhà cung cấp</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <form id="myForm">
                                <div class="modal-body">
                                    
                                        <div id="nameValidationMessage" class="text-warning"></div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-user account" aria-hidden="true"></i></span>
                                                        <input name="Name" type="text" class="form-control" placeholder="Tên nhà cung cấp">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon position"><i class="icon nalika-edit account" aria-hidden="true"></i></span>
                                                        <input name="Email" type="text" class="form-control" placeholder="Địa chỉ Email">
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon position"><i class="icon nalika-new-file account" aria-hidden="true"></i></span>
                                                    <input name="PhoneNumber" type="text" class="form-control" placeholder="Số điện thoại">
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon position"><i class="icon nalika-favorites account" aria-hidden="true"></i></span>
                                                    <input name="Address" type="text" class="form-control" placeholder="Địa chỉ">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal" id="save">Lưu</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        function validateSupplierForm(name, email, phoneNumber, address) {
            var errorMessage = "";

            // Kiểm tra các trường thông tin có hợp lệ không
            if (!name) {
                errorMessage = "Tên là bắt buộc.";
            } else if (!email) {
                errorMessage = "Địa chỉ email là bắt buộc.";
            } else if (!phoneNumber) {
                errorMessage = "Số điện thoại là bắt buộc.";
            } else if (!isValidPhoneNumber(phoneNumber)) {
                errorMessage = "Số điện thoại không hợp lệ. Vui lòng nhập một số có 10 chữ số bắt đầu bằng số 0.";
            } else if (!address) {
                errorMessage = "Địa chỉ là bắt buộc.";
            }

            return errorMessage;
        }

        function isValidPhoneNumber(phoneNumber) {
            // Biểu thức chính quy để kiểm tra định dạng số điện thoại (10 chữ số, bắt đầu bằng số 0)
            var phoneRegex = /^0\d{9}$/;
            return phoneRegex.test(phoneNumber);
        }


        $(document).on('click', '.edit-btn', function () {
            var $row = $(this).closest('tr');
            $row.find('.editable').prop('contenteditable', true).addClass('editing');
            $row.find('.edit-btn').hide();
            $row.find('.save-btn').show();
        });

        $(document).on('click', '.save-btn', function () {
            var $row = $(this).closest('tr');
            var supplierId = $row.find('.hidden[data-field="id"]').text();
            var name = $row.find('.editable[data-field="name"]').text();
            var email = $row.find('td[data-field="email"]').text();
            var phoneNumber = $row.find('.editable[data-field="phoneNumber"]').text();
            var address = $row.find('.editable[data-field="address"]').text();
            var errorMessage = "";

            var validationMessage = validateSupplierForm(name, email, phoneNumber, address);
            if (validationMessage) {
                alert(validationMessage);
                return;
            }
            $.ajax({
                url: '/AdminPage/SaveSupplier',
                type: 'POST',
                dataType: 'json',
                data: {
                    supplierId: supplierId,
                    name: name,
                    email: email,
                    phoneNumber: phoneNumber,
                    address: address
                },
                success: function (response) {
                    console.log('Data saved successfully!');
                    $row.find('.editable').prop('contenteditable', false).removeClass('editing');
                    $row.find('.edit-btn').show();
                    $row.find('.save-btn').hide();
                },
                error: function (error) {
                    console.error('Error saving data:', error);
                }
            });
        });

        $(document).on('click', '.trash-btn', function () {
            var $row = $(this).closest('tr');
            var supplierId = $row.find('.hidden[data-field="id"]').text();

            $.ajax({
                url: '/AdminPage/DeleteSupplier',
                type: 'POST',
                dataType: 'json',
                data: { supplierId: supplierId },
                success: function (response) {
                    if (response.success) {
                        $row.remove(); // Xóa hàng khỏi bảng nếu xóa thành công
                    } else {
                        alert('Failed to delete supplier.'); // Hiển thị thông báo nếu xóa không thành công
                    }
                },
                error: function (error) {
                    console.error('Error deleting supplier:', error);
                }
            });
        });

        $("#save").click(function () {
            // Lấy giá trị từ các trường nhập liệu
            var name = $("input[name='Name']").val();
            var email = $("input[name='Email']").val();
            var phoneNumber = $("input[name='PhoneNumber']").val();
            var address = $("input[name='Address']").val();

            // Kiểm tra xem các trường có hợp lệ không
            var validationMessage = validateSupplierForm(name, email, phoneNumber, address);
            if (validationMessage) {
                alert(validationMessage);
                return;
            }
            $.ajax({
                url: '/AdminPage/AddSupplier',
                type: 'POST',
                data: $("#myForm").serialize(),
                success: function (response) {
                    // Đóng modal
                    $("#myModal").modal('hide');

                    // Thêm dòng mới vào bảng
                    var newRow = `<tr>
                <td class="hidden">${response.id}</td>
                <td class="editable" contenteditable="false">${response.name}</td>
                <td>${response.email}</td>
                <td class="editable" contenteditable="false">${response.phoneNumber}</td>
                <td class="editable" contenteditable="false">${response.address}</td>
                <td>
                    <button data-toggle="tooltip" title="Edit" class="pd-setting-ed edit-btn">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button data-toggle="tooltip" title="Save" class="pd-setting-ed save-btn" style="display:none;">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </button>
                    <button data-toggle="tooltip" title="Trash" class="pd-setting-ed trash-btn">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>`;
                    $("#SupplierTable tbody").append(newRow);
                },
                error: function (error) {
                    console.error('Lỗi lưu dữ liệu:', error);
                }
            });
        });
    });
</script>
