@section head {
    <!-- favicon -->
    <link rel="shortcut icon" type="~/image/x-icon" href="img/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Other CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/nalika-icon.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/responsive.css">
}
@model IEnumerable<Product>
<style>
    div#productList {
        margin-bottom: 60px;
    }

    .btn-search-css{
        padding: 8px 10px;
    }

    .css-mb-16{
        margin-bottom: 16px;
    }
</style>
<h1>Cửa hàng vàng bạc Tuấn Thành</h1>
<p>Count: @Model.Count()</p>
<form id="searchForm">
    <input type="text" id="searchBox" class="search-shop" placeholder="Tìm kiếm sản phẩm...">
    <button type="submit" class="btn-search-css">Tìm kiếm</button>
</form>
<span class="search-category">Lọc theo</span>
<select id="categorySelect">
    <option value="">Tất cả</option>
    @foreach (var category in ViewBag.Categories)
    {
        <option value="@category.Id">@category.Name</option>
    }
</select>
<div class="row" id="productList">
    @foreach (var product in Model)
    {
        var priceRange = ViewBag.PriceRanges[product.Id];
        <div class="col-md-3 css-mb-16">
            <div class="border bg-light rounded p-1 text-center-shop">
                @if (product.Img.Any())
                {
                    <img src="@product.Img.First().UrlImage" class="img-fluid" alt="@product.Name" />
                }
                <h3 class="text-left">@product.Name</h3>
                <p class="text-left">
                    @if (priceRange.Item1 == 0 && priceRange.Item2 == 0)
                    {
                        <text>Liên hệ</text>
                    }
                    else if (priceRange.Item1 == priceRange.Item2)
                    {
                        <text>Giá: @string.Format("{0:N0}", priceRange.Item1) VND</text>
                    }
                    else
                    {
                        <text>Giá: @string.Format("{0:N0}", priceRange.Item1) - @string.Format("{0:N0}", priceRange.Item2) VND</text>
                    }
                </p>
                <button class="btn btn-success detail-btn btn-mt" data-product-id="@product.Id">Mua Ngay</button>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $(document).on('click', '.detail-btn', function () {
            var productId = $(this).data('product-id');
            window.location.href = '/App/ProductDetail?id=' + productId;
        });
        $('#categorySelect').change(function () {
            var categoryId = $(this).val();
            $.get('/App/GetProductsByCategory', { categoryId: categoryId }, function (data) {
                $('#productList').html(data);
            });
        });
        $('#searchForm').submit(function (event) {
            event.preventDefault();
            var searchTerm = $('#searchBox').val();
            var categoryId = $('#categorySelect').val();
            $.get('/App/GetProductsByName', { name: searchTerm, categoryId: categoryId }, function (data) {
                $('#productList').html(data);
            });
        });
    });
</script>